@import url(reset.css);

html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(202, 83, 83), rgb(57, 159, 218));
    background-attachment: fixed;
}

header {
    width: 960px;
    height: 120px;
    margin: auto;
    background-color: gray;
}

header h1 {
    font-size: 48px;
    text-align: center;
}

main {
    width: 960px;
    margin: auto;
    background-color: skyblue;
}

#products {
    height: 450px;
}

h2 {
    font-size: 36px;
    text-align: center;
}

#products li {
    display: block;
    float: left;
}

img { /*edit photos manually later*/
    height: 300px;
    width: 300px;
    margin: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 3px grey;
}

h3 {
    font-size: 24px;
    text-align: center;
}

#results {
    width: 240px;
    margin: auto;
}

#results ul {
    display: block;
    margin-top: 15px;
    list-style: square inside;
    line-height: 1.2em;
}

footer {
    width: 960px;
    height: 60px;
    margin: auto;
    background-color: gray;
}